<p>CarEditComponent works!</p>
<hr>

<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">

        <div class="col-sm-5 form-group">
          <label for="make">Marka</label>
          <input
            type="text"
            id="make"
            class="form-control"
            name="make"
            ngModel
            required
          >
        </div>

        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="type">Model</label>
            <input
              type="text"
              id="type"
              class="form-control"
              name="type"
              ngModel
              required
            >
          </div>
        </div>

        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="year">Rocznik</label>
            <input
              type="text"
              id="year"
              class="form-control"
              name="year"
              ngModel
              required
            >
          </div>
        </div>

      </div>


<!--      <div class="row">-->
<!--        <div class="col-xs-12">-->
<!--          <button-->
<!--            class="btn btn-success"-->
<!--            type="submit"-->
<!--            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>-->
<!--          <button-->
<!--            class="btn btn-danger"-->
<!--            type="submit" (click)="onDelete()"-->
<!--            *ngIf="editMode">Delete</button>-->
<!--          <button class="btn btn-primary" type="submit" (click)="onClear()">Clear</button>-->
<!--        </div>-->
<!--      </div>-->

      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            class="btn btn-danger"
            type="submit" (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="submit" (click)="onClear()">Clear</button>
        </div>
      </div>


    </form>
  </div>
</div>


