<!-- aplikacja: angular-reddit-clone: -->
<!-- musi być odpalony backend na :8080-->
<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->



<!--aplikacja: AngularTheCompleteGuide  Basics
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in AppComponent</h3>
      <hr>
        <app-servers></app-servers>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
-->


<!--aplikacja: AngularTheCompleteGuide - AssignmentSolution
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>AssignmentSolution1</h3>
      <hr>
      <app-assignment-solution></app-assignment-solution>
      <hr>
    </div>
  </div>
</div>
-->

<!--aplikacja: AngularTheCompleteGuide - AssignmentSolution2
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>AssignmentSolution2</h3>
      <hr>
      <app-assignment-solution2></app-assignment-solution2>
      <hr>
    </div>
  </div>
</div>

<hr>
<hr>
<hr>
-->

<!--<h1>{{ title }}</h1>-->
<!--<input type="text" [(ngModel)] ="name">-->
<!--<p>{{ name }}</p>-->


<!-- testing server component -  Angular - The Complete Guide (2021 Edition)
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I am i the AppComponent!</h3>
      <hr>
      <app-servers></app-servers>
      <hr>
    </div>
  </div>
</div>
-->



<!-- cmp-databinding - Angular - The Complete Guide (2021 Edition)
<app-cmp-databinding></app-cmp-databinding>-->



<!--assignment-solution-sekcja5-Databinding
<div class="row">
  <div class="col-xs-12">
    <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
  </div>
</div>
-->

<!--Sekcja-7 - Directives
<app-assignment-directives></app-assignment-directives>
-->

<!--Sekcja-9 - Services
<app-assignment-services></app-assignment-services>
-->

<!--assignment-solution-sekcja9-services
<app-assignment-solution-sekcja9-services></app-assignment-solution-sekcja9-services>
-->

<!--Sekcja-11 - Routing
<app-assignment-routing></app-assignment-routing>
-->

<!--Sekcja-13 - Observable
<app-assignment-observables></app-assignment-observables>
-->

<!--Sekcja-15 - Forms
<app-assignment-forms></app-assignment-forms>
-->

<!--assignment-solution-Sekcja-15 Template-Driven Forms
<app-assignment-solution-sekcja15-td-forms></app-assignment-solution-sekcja15-td-forms>
-->

<!--assignment-solution-Sekcja-15 Reactive Forms
<app-assignment-solution-sekcja15-reactive-forms></app-assignment-solution-sekcja15-reactive-forms>
-->

<!--assignment-solution-Sekcja-15-2 Reactive Forms
<app-assignment-solution-sekcja15-2-reactive-forms></app-assignment-solution-sekcja15-2-reactive-forms>
-->

<!--assignment-solution-Sekcja-15-2 Reactive Forms
<app-assignment-solution-sekcja17-pipes></app-assignment-solution-sekcja17-pipes>
-->

<!--
<app-assignment-solution-sekcja18-http></app-assignment-solution-sekcja18-http>
-->

<!--
<app-assignment-solution-sekcja15-2-reactive-forms></app-assignment-solution-sekcja15-2-reactive-forms>
-->



<!--AngularTutorials-->
<!--<app-garage-header></app-garage-header>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->




<!-- ng4-complete-guide - Angular - The Complete Guide (2021 Edition) -->
<!-- baza firebase:  https://console.firebase.google.com/project/ng4-complete-guide-21-12-2021/database/ng4-complete-guide-21-12-2021-default-rtdb/data-->
<!--<h1>{{ title }}</h1>-->
<!--<input type="text" [(ngModel)] ="name">-->
<!--<p>{{ name }}</p>-->
<!--<app-ng4-header></app-ng4-header>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<!--https://www.youtube.com/watch?v=2bRqTm3hXlM&list=PLVApX3evDwJ2keNFsQ4PhA1yVaXpto2oN&index=9-->
<!-- aplikacja: angular-reddit-clone: -->
<!-- musi być odpalony backend na :8080-->
<!--aplikacja: NoteItNgApp-->
<!--backend: c:\Users\Jacek\Documents\JAVA\SpringBoot\Angular\noteIt\noteit-api\-->
<!--<app-note-it-ng-app></app-note-it-ng-app>-->


<!--<app-reactive-form-validation-smooth-scrolling></app-reactive-form-validation-smooth-scrolling>-->

<!--<app-parent4></app-parent4>-->

<app-angular-to-docker></app-angular-to-docker>

























