<table class="table">

  <thead class="thead-dark">
  <tr>
    <th>PolicyId</th>
    <th>Policy Name</th>
    <th>Policy Description</th>
    <th>Policy Created Date</th>
    <th>Policy Product Name</th>
    <th>Policy Product Id</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let tmpPolicy of policies">
    <td>{{ tmpPolicy.policyId }}</td>
    <td>{{ tmpPolicy.policyName }}</td>
    <td>{{ tmpPolicy.policyDescription }}</td>
    <td>{{ tmpPolicy.policyCreatedDate }}</td>
    <td>{{ tmpPolicy.productName }}</td>
    <td>{{ tmpPolicy.productId }}</td>
    <td>
      <button (click)="updatePolicy(tmpPolicy.policyId)" class="btn btn-success" >
        Edit
      </button>
    </td>
    <td>
      <button (click)="deletePolicy(tmpPolicy.policyId)" class="btn btn-warning" >
        Delete
      </button>
    </td>
  </tr>
  </tbody>

</table>

