/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}


body{
  margin-top: 63px;
  height: 100%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.login,
.sign-up {
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

.list-group-item {
  cursor: pointer;
}

.input-label {
  background: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

.input-label-lg {
  background: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
